<!DOCTYPE html>
<html>
  <head>
    <title>Your Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= username %>'s Post</h1>
    <p>Showing Post #<%= postid %></p>
    <h2 > Title: <%- title %></h2>
    <%- body %>
  </body>
</html>
